<div class="register-container">
	<form [formGroup]="registerForm" class="register-content" (ngSubmit)="onSubmit()">
		<h2 class="title">Registration</h2>
		<h3 class="message">So glad you decided to join!</h3>
		<ng-container *ngFor="let fields of formFields; let i = index" class="formContainer">
			<mat-form-field appearance="outline" *ngIf="fields.type === 'text' || fields.type === 'password'">
				<mat-label>{{fields.fieldDisplay}}</mat-label>
				<ng-container *ngIf="i === 0">
					<input #firstItem formControlName="{{fields.fieldTitle}}" matInput type={{fields.type}}>
				</ng-container>
				<ng-container *ngIf="i !== 0 && fields.type !== 'password'">
					<input formControlName="{{fields.fieldTitle}}" matInput type={{fields.type}}>
				</ng-container>
				<ng-container *ngIf="i !== 0 && fields.fieldTitle === 'password'">
					<div class="alignEye">
						<input formControlName="{{fields.fieldTitle}}" matInput [type]="hiddenPassword ? fields.type : fields.type2">
						<mat-icon (click)="hiddenPassword = !hiddenPassword" matSuffix>{{hiddenPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
					</div>
				</ng-container>
				<ng-container *ngIf="i !== 0 && fields.fieldTitle === 'confirmPassword'">
					<div class="alignEye">
						<input formControlName="{{fields.fieldTitle}}" matInput [type]="hiddenConfirmPassword ? fields.type : fields.type2">
						<mat-icon (click)="hiddenConfirmPassword = !hiddenConfirmPassword" matSuffix>{{hiddenConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
					</div>
				</ng-container>
			</mat-form-field>
		</ng-container>
		<div class="button-group">
			<ng-container *ngFor="let fields of formFields; let i = index" class="formContainer">
				<ng-container *ngIf="fields.type === 'button'">
					<ng-container *ngIf="fields.fieldTitle !== 'cancel'">
						<button mat-stroked-button>{{fields.fieldDisplay}}</button>
					</ng-container>
					<ng-container *ngIf="fields.fieldTitle === 'cancel'">
						<button mat-stroked-button (click)='cancel()'>{{fields.fieldDisplay}}</button>
					</ng-container>
				</ng-container>
			</ng-container>
		</div>
		<ng-container *ngIf="formFieldErrors.length > 0">
			<ng-container *ngFor="let error of formFieldErrors">
				<mat-error>
					{{error}}
				</mat-error>
			</ng-container>
			<br>
		</ng-container>
	</form>
</div>